.carouselComentario .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  
}

nav > div{
    text-align: center;
   
}

nav#contatos{
    display: flex;
    align-items: center;
    justify-content:space-around;
}